$break-small: 400px;
$break-large: 1200px;

#container {
  margin: auto;
  padding: 10px;
  background: #F7F7F7;
  @media screen and (max-width: $break-small) {
    width: $break-small;
  }
  @media screen and (min-width: $break-large) {
    width: 800px;
  }
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

table>tbody>tr>td {
  border-top: 1px solid #ddd;
  padding: 5px;
}
.btn-default, .btn-default:hover, input[type="submit"] {
  color: #2E2F30!important;
  text-decoration: none;
  background-color: white;
  border-color: #ccc!important;
}

.btn-red, .btn-red:hover {
  color: #fff!important;
  text-decoration: none;
  background-color: #cc0000;
  border-color: #ccc!important;
}

.btn, button, input[type="submit"] {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

